<section class="bg-primary" id="bates_fundamentals">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Bates Method Fundamentals</h2>
                <hr>
                <p>
                    This workshop is for you if you are interested in natural eyesight improvement. Maybe you are a complete beginner who would like to get some grounding in what eyesight work is all about. Maybe you have had a few lessons or been to a workshop and are interested to find out more. Maybe you have lots of experience but want to get back to basics.
                </p>
                <h3>
                    The Learning
                </h3>
                <p>
                    The Bates Method is many things. At its heart is simplicity: the more relaxed we are the more we can see. It is a way to access our own perceptual capacity and can be used in a very practical way for natural eyesight care or as a spiritual practice. In this workshop we will cover the fundamental elements of the Bates Method. We will visit the topics of light, rest, movement, memory and imagination and learn how they relate to the philosophy and practise of this deep and powerful method.
                </p>
                <p>
                    The workshop will consist of presentations, discussion and experiential participation.
                </p>
                <p>
                    This is a 6 hour workshop. The next dates are
                </p>
                <h4>
                    Thursday 25th March 9.30-12.30
                </h4>
                <h4>
                    Friday 26th March 9.30-12.30
                </h4>
                <p>
                    Cost: £125
                </p>
                <a href="#contact" class="btn btn-primary btn-xl page-scroll">
                    Sign up here.
                </a>
                <p></p>
                <p>
                    What previous participants have said:
                </p>
               <blockquote>
                    <p>
                        Anna’s workshop was a revolution. What she gave me was a paradigm shift in how I think of vision. I was really amazed in the difference in my vision after the workshop. I see space and colour differently. It's a shift in consciousness for me to see seeing by itself for itself as a source of continual nourishment rather than just a pragmatic faculty.
                    </p>
                    <footer>
                        Journeys Into Eyesight Workshop Participant
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>
