<section class="bg-primary" id="bates_fundamentals">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Bates Method Fundamentals</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-5 col-md-offset-1">
                <p>
                    This workshop is for you if you are interested in natural eyesight improvement. Maybe you are a complete beginner who would like to get some grounding in what eyesight work is all about. Maybe you have had a few lessons or been to a workshop and are interested to find out more. Maybe you have lots of experience but want to get back to basics.                 </p>
                <h3>
                    The Learning
                </h3>
                <p>
                    The Bates Method is many things. At its heart is simplicity: the more relaxed we are the more we can see. It is a way to access our own perceptual capacity and can be used in a very practical way for natural eyesight care, as a part of a creative process or as a spiritual practice. In this workshop we will cover the fundamental elements of the Bates Method. We will visit the topics of light, rest, movement, memory and imagination and learn how they relate to the philosophy and practise of this deep and powerful method.                </p>
                <p>
                    The workshop will consist of presentations, discussion and experiential participation.
                </p>
            </div>
            <div class="col-xs-12 col-md-5">
                <img src="img/bates_method_fundamentals_image" class="workshop-image" alt="Anna teaching palming in a workshop">
                <blockquote>
                    <p>
                        Anna’s workshop was a revolution. What she gave me was a paradigm shift in how I think of vision. I was really amazed in the difference in my vision after the workshop. I see space and colour differently. It's a shift in consciousness for me to see seeing by itself for itself as a source of continual nourishment rather than just a pragmatic faculty.
                    </p>
                    <footer>
                        Journeys Into Eyesight Workshop Participant
                    </footer>
                </blockquote>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
                <p>
                    This is a 6 hour online workshop split over 2 days. The numbers are limited to 8 participants to allow for personal teaching and discussion. The next dates are:
                </p>
                <h4>
                    Wednesday 26th May 2-5pm (BST)
                </h4>
                <h4>
                    Thursday 27th May 2-5pm (BST)
                </h4>
                <h4>
                    Cost: £75
                </h4>
                <div class="info-button" id="Bates Method Fundamentals">Apply</div>
            </div>
        </div>
    </div>
</section>
