<section class="primary-theme" id="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="section-heading">Get In Touch!</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div id="contact_app">
                    If you would like more information on my classes workshops or one-to-one sessions please fill in the form below, email or call me.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1 text-center">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="mailto:{{ site.email }}">
                            <i class="contact-icon fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                            <p class="text-center">{{ site.email }}</p>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="tel:{{ site.mobile_phone }}">
                            <i class="contact-icon fa fa-phone fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                            <p class="text-center">{{ site.mobile_phone }}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
