<section class="primary-theme" id="creativity_with_the_bates_method">
    <div class="container-fluid">
        <h2 class="section-heading">Creativity with the Bates Method</h2>
        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <p>
                    <em>An online workshop</em>
                </p>
                <p>
                    How can we apply the fundamental principles of the Bates Method continuously and creatively? A one day online workshop with Aileen Whiteford and Anna Bambridge.
                </p>
                <p>
                    The body, including eyesight, is self-healing. The aim of any vision teaching is to remove obstacles and stimulate the body's own healing power using the minimum of intervention. We aim to deal with all visual problems in the gentlest way possible looking to restore harmony of function to the whole person.                </p>
                <h4>
                    Venue: online
                </h4>
                <h4>
                    <a href="https://www.redefine.vision/settima-giornata-europea-di-metodo-bates" target="_blank">7th European Bates Method Day</a>
                </h4>
                <h4>
                    7th October 2023
                </h4>
                <p>
                    <div class="text-center">
                        <a class="btn btn-primary btn-xl" href="https://www.redefine.vision/settima-giornata-europea-di-metodo-bates" target="_blank">Apply</a>
                    </div>
                </p>
            </div>
            <div class="col-lg-5">
                <img src="{{'img/creativity_with_the_bates_method_image' | bust_cache }}" class="workshop-image" alt="">
            </div>
        </div>
    </div>
</section>