<section class="primary-theme" id="eyesight_matters">
    <div class="container-fluid">
        <h2 class="section-heading">Eyesight Matters in Health</h2>
        <div class="row">
            <div class="col-xs-12 col-lg-5 offset-lg-1">
                <p>
                    This course is for you if you work with people in a therapeutic or creative way. It is essential learning for yoga teachers, psychotherapists, massage therapists, Feldenkrais practitioners, art therapists, play therapists, somatics practitioners....the list goes on...
                </p>
                <h3>
                    The Learning
                </h3>
                <ul class="portfolio-list">
                    <li>
                        Explore how someone's eyesight impacts body, mind and emotion.
                    </li>
                    <li>
                        Learn about common eyesight challenges from a holistic perspective.
                    </li>
                    <li>
                        Understand simple eyesight prescriptions.
                    </li>
                    <li>
                        What does 20/20 vision really mean? How eyesight is measured.
                    </li>
                    <li>
                        How to integrate eyesight into taking a case study.
                    </li>
                    <li>
                        Why it matters that you know if your client or students wear contact lenses.
                    </li>
                </ul>
                <p>
                    The course is online and 6 hours long (you attend both days). The numbers are limited to 8 participants to allow for personal teaching and discussion.
                </p>
                <p>
                    PDF course handout included.
                </p>
                <p>
                    Professional Development Certification available.
                </p>
            </div>
            <div class="col-xs-12 col-lg-5">
                <img src="{{'img/eyesight_matters_in_health_image' | bust_cache }}" class="workshop-image" alt="Workshop participants exploring their binocular vision">
                <blockquote>
                    <p>
                        I had so much tension in my back. I did lots of yoga and massage but nothing was touching it. Then I started working with my eyesight. It was the magic key to releasing my body and my emotions. Working with my eyesight in tandem with my body and emotional work started the process of transformation I had been seeking.
                    </p>
                    <footer>
                        Anna, Vision Student
                    </footer>
                </blockquote>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-6 offset-lg-3 text-center">
                <h4>
                    Thursday 20th May 2-5pm (BST)
                </h4>
                <h4>
                    Friday 21st May 2-5pm (BST)
                </h4>
                <h4>
                    Cost: £90
                </h4>
                <div class="info-button" id="Eyesight Matters in Health">Apply</div>
            </div>
        </div>
    </div>
</section>
