<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <img class="header-image" src="{{'img/header_image' | bust_cache }}" alt="A dancing girl embodying movement"/>
            </div>
            <div class="col-lg-6">
                <div class="header-content wow slideInRight" data-wow-delay=".4s">
                    <a href="#vision" class="inert page-scroll">
                        <div class="header-content-inner">
                            <h1>embodied vision</h1>
                            <h2>awaken your visual sense</h2>
                            <p>Explore your experience of seeing in a gentle, embodied way with Anna&nbsp;Bambridge</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
