<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img class="header-image" src="img/header_image"/>
            </div>
            <div class="col-md-6">
                <div class="header-content">
                    <a href="#vision" class="inert page-scroll">
                        <div class="header-content-inner">
                            <h1>embodied&nbsp;vision</h1>
                            <h2>awaken your visual sense</h2>
                            <p>Explore your experience of seeing in a gentle, embodied way with Anna&nbsp;Bambridge</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
