<section class="primary-theme" id="lenses_and_charts">
    <div class="container-fluid">
        <h2 class="section-heading">Lenses and Charts</h2>
        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <p>
                    This training is aimed at natural vision teachers but is open to anyone who is interested. It has come about from me wanting to share my learnings from physics and optometry with the natural vision community.
                </p>
                <p>
                    An individual's eyesight is unique to them and also changeable. Our work as vision teachers is predominantly supporting a whole person process. However, we also encounter chart measurements and refractive lens prescriptions and understanding the numbers of optometry is useful in our work. Numbers are often what students arrive with, they give us information, they are part of the picture in vision education.
                </p>
                <p>
                    PDF handouts and recordings of the sessions included.
                </p>
                <div class="text-center">
                    <h4>
                        Session 1 Theories of light and refraction
                    </h4>
                    <p class="text-center">
                        Thursday 25th April 6-8pm BST
                    </p>
                    <h4>
                        Session 2 Spherical, cylindrical and prismatic lenses
                    </h4>
                    <p class="text-center">
                        Thursday 2nd May 6-8pm BST
                    </p>
                    <h4>
                        Session 3 The impact of lenses on size, form and speed
                    </h4>
                    <p class="text-center">
                        Thursday 9th May 6-8pm BST
                    </p>
                    <h4>
                        Session 4 The development and use of eyesight assessment charts
                    </h4>
                    <p class="text-center">
                        Thursday 16th May 6-8pm BST
                    </p>
                    <h4>
                        Cost £120
                    </h4>
                    <div class="info-button" id="Lenses and Charts">Apply</div>
                    </div>
            </div>
            <div class="col-lg-5">
                <img src="{{'img/optics_image' | bust_cache }}" class="workshop-image" alt="Historical poster of optics">
            </div>
        </div>
    </div>
</section>
