<section class="bg-primary" id="vision">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2 class="section-heading">Vision</h2>
                <p>
                    Learn how to bring relaxed flexibility into how you use your sense of sight. Through practices grounded in the Bates method of vision education I help people experience the best of their vision. I work through eyesight but I am aware and interested in how this work affects people physically, emotionally and spiritually. My aim is to show you that you have choices in how you see. Through vision work I believe that we can become more aware of ourselves and the world around us and that bringing this awareness into our interactions with our families, communities, and environment can alter our experience of being.
                </p>
            </div>
        </div>
    </div>
</section>
