<section class="bg-primary" id="myvision">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">My Vision</h2>
                <hr>
                <p>
                    My work is about exploring the experience of seeing. I use gentle movement, touch and dialogue to help people access a more immediate and tactile awareness of their eyesight. I encourage people to experience their vision fully by asking them to look out at what they can see, right here, right now.
                </p>
                <p>
                    The work is holistic and embodied. I work through eyesight but I am aware and interested in how this work affects people physically, emotionally and spiritually. Working with your eyesight is a way to access yourself. I can teach you and support you but you use the work to explore your natural vision for yourself.
                </p>
                <p>
                    My aim is to show people that we have choices in how we use our sense of sight. Learning how to look in a relaxed and attentive way can shift the quality of our vision. Through vision work I believe that we can become more aware of ourselves and the world around us with all the possibilities and limitations there are. Bringing this awareness into our communication and interaction with our families, communities and our environment can alter our experience of being.
                </p>
            </div>
        </div>
    </div>
</section>
