<section class="primary-theme" id="natural_vision_care_basics">
    <div class="container-fluid">
        <h2 class="section-heading">Natural Vision Care Basics</h2>
        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <p>
                    Do you wonder...
                    <ul>
                        <li>can my vision get better?</li>
                        <li>what is natural eyesight care?</li>
                        <li>what is the Bates Method?</li>
                        <li>what are the relationships between eyesight and overall health and well-being?</li>
                    </ul>
                </p>
                <div class="row">
                    <div class="col-lg-6 offset-lg-3 text-center">
                        <br>
                        <h4>
                            Sunday 8th September<br>7-8pm BST
                        </h4>
                        <h4>
                            What is Natural Vision Care?<br>Presentation with Q&A
                        </h4>
                        <h4>
                            FREE
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 offset-lg-3 text-center info-button" id="Somatic Seeing">Register</div>
                </div>
            </div>
            <div class="col-lg-5">
                <img src="{{'img/natural_vision_care_basics_image' | bust_cache }}" class="workshop-image" alt="Some creatively arranged coloured card">
            </div>
        </div>
    </div>
</section>
