<section class="primary-theme" id="natural_vision_care_basics">
    <div class="container-fluid">
        <h2 class="section-heading">Natural Vision Care Basics</h2>
        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <p>
                    Do you wonder...
                    <ul>
                        <li>can my vision get better?</li>
                        <li>what is natural eyesight care?</li>
                        <li>what is the Bates Method?</li>
                        <li>what are the relationships between eyesight nad overall health and well-being?</li>
                    </ul>
                </p>
                <p>
                    Through presentations, experiential invitations and discussion we will explore the answers to all these questions.
                </p>
                <div class="row">
                    <div class="col-lg-6 text-center">
                        <p class="text-center">
                            In-person workshop:
                        </p>
                        <h4>
                            Glasgow
                        </h4>
                        <h4>
                            2nd June 2024
                        </h4>
                        <h4>
                            £5/10/15
                        </h4>
                    </div>
                    <div class="col-lg-6 text-center">
                        <p class="text-center">
                            Online workshop:
                        </p>
                        <h4>
                            5th September 2024
                        </h4>
                        <h4>
                            £20
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 offset-lg-3 text-center info-button" id="Somatic Seeing">Book now</div>
                </div>
            </div>
            <div class="col-lg-5">
                <img src="{{'img/natural_vision_care_basics_image' | bust_cache }}" class="workshop-image" alt="Some creatively arranged coloured card">
            </div>
        </div>
    </div>
</section>
