<div id="navbar">
    <nav class="navbar navbar-expand-md navbar-dark navbar-default fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ site.url }}#page-top">{{ site.title }}</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-nav collapse navbar-collapse justify-content-end" id="navbarNav">
            <a class="nav-link" href="{{ site.url | append: '#vision' }}">Vision</a>
            <a class="nav-link" href="{{ site.url | append: '#portfolio' }}">Classes</a>
            <a class="nav-link" href="{{ site.url | append: '#writing' }}">Writing</a>
            <a class="nav-link" href="{{ site.url | append: '#about' }}">About</a>
            <a class="nav-link" href="{{ site.url | append: '#contact' }}">Contact</a>
          </div>
        </div>
    </nav>
</div>
