<section class="bg-primary" id="one_to_one">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading">One to One</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-5 col-md-offset-1">
                <p>
                    Everyone experiences some variation in their vision throughout life. From slight blurring when ill to severe visual challenges and blindness. Understanding the flexibility of your vision and learning what makes it as clear as possible is a valuable life skill.
                </p>
                <p>
                    One to one sessions allow you to fully explore vision education in a way that is just for you. Using principles and activities rooted in the Bates Method of Vision Education I can guide you to discover different aspects of your eyesight and what might affect your experience of seeing. These sessions are always responsive to your needs and evolve as you learn and grow in confidence with the work.
                </p>
                <p>
                    I teach in person (usually in Glasgow, Scotland) and online.
                </p>
            </div>
            <div class="col-xs-12 col-md-5">
                <img src="{{'img/one_to_one_image' | bust_cache }}" class="workshop-image" alt="Anna helping a client explore their vision">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
                <blockquote>
                    <p>
                        What I’ve realised is that stress plays a huge factor in how I see. It’s been interesting to see how my vision can change throughout the practises.
                    </p>
                    <footer>
                        Elaine, Artist and Designer
                    </footer>
                </blockquote>
                <blockquote>
                    <p>
                        I’ve experienced profound changes in my perception of the world, visually of course, but also in so many other ways. The work goes deep and has touched all parts of my self. Anna’s playful way with the sessions is great – fun and always supportive through this remarkable process.
                    </p>
                    <footer>
                        Alison McGillivray, Musician and Feldenkreis Practitioner
                    </footer>
                </blockquote>
                <blockquote>
                    <p>
                        "Thank you for waking me up and waking up my eyes. I just walked home awake to all the colours, shapes, visual vibrancy."
                    </p>
                    <footer>
                        Rosina Bonsu, Yoga Teacher and Dancer
                    </footer>
                </blockquote>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
                <p>
                    To book a session or chat a bit more about what is involved please get in touch.
                </p>
                <div class="info-button" id="One to One Sessions">Get in touch</div>
            </div>
        </div>
    </div>
</section>
