<section class="primary-theme" id="podcast">
    <div class="container-fluid">
        <h2 class="section-heading">Podcast</h2>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <p class="primary-background">
                    Embodied Vision is a podcast about eyesight and the role it plays in our holistic health and wellbeing. Join Anna Bambridge and her guests for in-depth conversations about natural eyesight improvement, the Bates Method, exploring vision as a healing journey and the relationships between seeing, feeling and moving. Together we will share, reflect on and challenge what it means to see well.
                </p>
            </div>
        </div>
        <div class="podcasts">
            <div class="podcast">
                <div class="podcast-title">
                    1. Dancing, with Nina Hutchings
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-5 offset-lg-1">
                        <a href="https://www.methodebates.fr" target="_blank">Nina Hutchings</a> is a Bates Method teacher who founded the French Bates Method Teacher Training Course. She is also a Somatic Experiencing practitioner and trainer.
                        In this episode we cover the topics of movement, emotions, societal tunnel vision and more.
                    </div>
                    <div class="col-sm-12 col-lg-5">
                        <a class="podcast-post-box inert wow fadeIn"
                           data-wow-delay=".1s"
                           href="https://listen.hubhopper.com/episode/dancing-with-nina-hutchings-1693856047/32318434" target="_blank">
                            <div class="podcast-post-box-content">
                                <div class="image"></div>
                                <div class="titles">
                                    <div class="collective-title">Embodied Vision Podcasts</div>
                                    <div class="title">Dancing<br><em>with</em> Nina Hutchings</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="podcast">
                <div class="podcast-title">
                    2. Are Your Feet on the Ground? with Aileen Whiteford
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-5 offset-lg-1">
                        <a href="https://aileenwhiteford.com" target="_blank">Aileen Whiteford</a> is an experienced and dedicated Natural Eyesight Teacher, Psychotherapist and Counsellor. She is the co-founder and principal teacher of the College of Vision Education and has presented many talks and workshops on natural eyesight work internationally.
                        In this episode we talk about what brought her to vision work and The Bates Method, why she is passionate about it and what keeps her interested.
                    </div>
                    <div class="col-sm-12 col-lg-5">
                        <a class="podcast-post-box inert wow fadeIn"
                           data-wow-delay=".1s"
                           href="https://listen.hubhopper.com/episode/are-your-feet-on-the-ground-with-aileen-whiteford-1696885941/32357305" target="_blank">
                            <div class="podcast-post-box-content">
                                <div class="image"></div>
                                <div class="titles">
                                    <div class="collective-title">Embodied Vision Podcasts</div>
                                    <div class="title">Are Your Feet on the Ground?<br><em>with</em> Aileen Whiteford</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="podcast">
                <div class="podcast-title">
                    3. Ah, I didn't see it like that! with David Glassman
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-5 offset-lg-1">
                        <a href="https://batesvisioneducation.org/teachers/david-glassman" target="_blank">David Glassman</a> is a Bates Method teacher with over 30 years of teaching experience. He trained with Miss Sage in London qualifying in 1990. He is also an Alexander technique teacher.
                            In this episode's conversation we talk about the essence of the Bates Method, dynamic relaxation, how treating vision improvement as an exercise programme is unlikely to work and how sometimes you have to kiss a lot of frogs.                            
                    </div>
                    <div class="col-sm-12 col-lg-5">
                        <a class="podcast-post-box inert wow fadeIn"
                           data-wow-delay=".1s"
                           href="https://listen.hubhopper.com/episode/ah-i-didnt-see-it-like-that-with-david-glassman-1700584163/32402026" target="_blank">
                            <div class="podcast-post-box-content">
                                <div class="image"></div>
                                <div class="titles">
                                    <div class="collective-title">Embodied Vision Podcasts</div>
                                    <div class="title">Ah, I didn't see it like that!<br><em>with</em> David Glassman</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="podcast">
                <div class="podcast-title">
                    4. Imagining Movement with Julia Galvin
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-5 offset-lg-1">
                        Julia Galvin is a Bates Method teacher with over 25 years of experience using the method. She is a pioneer of the Bates Method on YouTube and her channel <a href="https://www.youtube.com/@BatesHappysight" target="_blank">Bates Happy Sight</a>, started in 2010, has tens of thousands of views. In this episode Julia shares some tips for how to keep your eyesight explorations fun and imaginative.                            
                   </div>
                   <div class="col-sm-12 col-lg-5">
                    <a class="podcast-post-box inert wow fadeIn"
                       data-wow-delay=".1s"
                       href="https://listen.hubhopper.com/episode/4-imagining-movement-with-julia-galvin-1707223270/32467735" target="_blank">
                        <div class="podcast-post-box-content">
                            <div class="image"></div>
                            <div class="titles">
                                <div class="collective-title">Embodied Vision Podcasts</div>
                                <div class="title">Imagining Movement!<br><em>with</em> Julia Galvin</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="podcast">
                <div class="podcast-title">
                    5. Make It Your Own with Bryony Murray
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-5 offset-lg-1">
                        In this special episode Bryony and I reflect on our 15 years of work together supporting her with the daily experience of big visual challenges. This touching conversation clearly illustrates the holistic nature of Bates method vision education.
                   </div>
                   <div class="col-sm-12 col-lg-5">
                    <a class="podcast-post-box inert wow fadeIn"
                       data-wow-delay=".1s"
                       href="https://listen.hubhopper.com/episode/untitled-1734138205/32806293" target="_blank">
                        <div class="podcast-post-box-content">
                            <div class="image"></div>
                            <div class="titles">
                                <div class="collective-title">Embodied Vision Podcasts</div>
                                <div class="title">Make It Your Own<br><em>with</em> Bryony Murray</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>




