<section class="primary-theme" id="portfolio">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h2 class="section-heading">Classes</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <a href="#eyesight_matters" class="portfolio-box page-scroll inert">
                    <div class="portfolio-box-caption">
                        <div class="project-name">
                            Eyesight Matters In Health
                        </div>
                        <div class="project-category">
                            Online Workshop for Practitioners
                        </div>
                        <div class="project-details">
                            20 - 21 May 2021
                        </div>
                        <div class="project-details">
                            £90
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-3">
                <a href="#bates_fundamentals" class="portfolio-box page-scroll inert">
                    <div class="portfolio-box-caption">
                        <div class="project-name">
                            Bates Method Fundamentals
                        </div>
                        <div class="project-category">
                            Online Workshop
                        </div>
                        <div class="project-details">
                            26 - 27 May 2021
                        </div>
                        <div class="project-details">
                            £75
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-3">
                <a href="#somatic_seeing" class="portfolio-box page-scroll inert">
                    <div class="portfolio-box-caption">
                        <div class="project-name">
                            Somatic Seeing
                        </div>
                        <div class="project-category">
                            Online Class
                        </div>
                        <div class="project-details">
                            Mondays 1 - 2pm BST
                        </div>
                        <div class="project-details">
                            10 May - 14 June
                        </div>
                        <div class="project-details">
                            Drop-in, pay what you can
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-3">
                <a href="#one_to_one" class="portfolio-box page-scroll inert">
                    <div class="portfolio-box-caption">
                        <div class="project-name">
                            One to One
                        </div>
                        <div class="project-category">
                            Online or in-person
                        </div>
                        <div class="project-details">
                            Glasgow, UK
                        </div>
                        <div class="project-details">
                            In person sessions can be indoors or outside in nature
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
