<section class="primary-theme" id="portfolio">
    <div class="container-fluid">
        <h2 class="section-heading">Classes</h2>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <a href="#somatic_seeing" class="portfolio-box page-scroll inert wow fadeIn" data-wow-delay=".3s">
                    <div class="portfolio-box-caption">
                        <div class="project-name">
                            Somatic Seeing
                        </div>
                        <div class="project-category">
                            Online Class
                        </div>
                        <div class="project-details">
                            Mondays 1 - 2pm GMT
                        </div>
                        <div class="project-details">
                            Drop-in, pay what you can
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4">
                <a href="#lenses_and_charts" class="portfolio-box page-scroll inert wow fadeIn" data-wow-delay=".2s">
                    <div class="portfolio-box-caption">
                        <div class="project-name">
                            Lenses and Charts
                        </div>
                        <div class="project-category">
                            Online Class
                        </div>
                        <div class="project-details">
                            4 weekly 2 hour classes
                        </div>
                        <div class="project-details">
                            Starts 20 April 2024
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4">
                <a href="#one_to_one" class="portfolio-box page-scroll inert wow fadeIn" data-wow-delay=".4s">
                    <div class="portfolio-box-caption">
                        <div class="project-name">
                            One to One
                        </div>
                        <div class="project-category">
                            Online or in-person
                        </div>
                        <div class="project-details">
                            Glasgow, Scotland
                        </div>
                        <div class="project-details">
                            In person sessions can be indoors or outside in nature
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
