<section class="primary-theme" id="practitioner_programme">
    <div class="container-fluid">
        <h2 class="section-heading">Practitioner Programme</h2>
        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <p>
                    Would you like to become a vision teacher?
                </p>
                <p>
                    There is a new course coming soon
                </p>
                <p>
                    Please get in touch to get the details as they are ready.
                </p>
                <div class="row">
                    <div class="info-button col-lg-8 offset-lg-2" id="Practitioner Programme">I'm interested, tell me more</div>
                </div>
            </div>
            <div class="col-lg-5">
                <img src="{{'img/practitioner_programme' | bust_cache }}" class="workshop-image" alt="A messy table">
            </div>
        </div>
    </div>
</section>
