<section class="primary-theme" id="practitioner_programme">
    <div class="container-fluid">
        <h2 class="section-heading">Bates Vision Education Practitioner Programme</h2>
        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <h3>Eyesight</h3>
                <p>
                    Eyesight is a learned process which depends on internal reflexes and external stimuli.
                    It depends on a weaving of inner and outer experiences.
                </p>
                <p>
                    Eyesight needs the electromagnetic energy of light from the sun and physical, mental,
                    emotional, social and spiritual awareness. A dynamic relating of all these elements permeates
                    healthy vision.
                </p>
                <p>
                    In the Embodied Vision Bates Method Practitioner Programme we explore and engage with all
                    these aspects of vision through supported experiential study.
                </p>
            </div>
            <div class="col-lg-5">
                <img src="{{'img/messy_table.jpg' | bust_cache }}" class="workshop-image" alt="A messy table"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h3>5 day in-person modules</h3>
                <p>
                    Each module will weave in the essential elements of light, rest, movement, memory and
                    imagination. Through practical sessions students will work with each other and as a group to
                    learn how to teach Bates Method Vision Education.
                </p>
                <p>
                    The modules also provide
                <ul>
                    <li>a supportive space to explore your own eyesight</li>
                    <li>professional awareness of vision and Vision Education practices</li>
                    <li>clinical experience</li>
                    <li>in-person experience for teachers who have learned online</li>
                </ul>
                <p>
                    The modules can be taken separately but also layer together, in any order, to form a complete
                    professional training with over 200 hours of contact time. Students who successfully complete
                    all six modules and the homework requirements will become certified Bates Vision Education
                    teachers.
                </p>
                <h3>Dates</h3>
                <table class="table table-striped">
                    <tr>
                        <td>Light and Dark</td>
                        <td>7&nbsp;-&nbsp;11 September 2026</td>
                    </tr>
                    <tr>
                        <td>Centre and Periphery</td>
                        <td>23&nbsp;-&nbsp;27 November 2026</td>
                    </tr>
                    <tr>
                        <td>Movement</td>
                        <td>22&nbsp;-&nbsp;26 February 2027</td>
                    </tr>
                    <tr>
                        <td>Integration</td>
                        <td>7&nbsp;-&nbsp;11 June 2027</td>
                    </tr>
                    <tr>
                        <td>Binocularity</td>
                        <td>6&nbsp;-&nbsp;10 September 2027</td>
                    </tr>
                    <tr>
                        <td>Refraction</td>
                        <td>22&nbsp;-&nbsp;26 November 2027</td>
                    </tr>
                </table>

                <h3>Venue</h3>
                <p>
                    <a href="https://maps.app.goo.gl/ktGR5wguzgHhomMRA" target="_blank">The Wee Retreat, 2 Myrtle Park,
                        Crosshill, Glasgow, G42 8UQ, Scotland, UK</a>
                </p>

                <h3>Cost</h3>
                <p>
                    £550 per module.
                </p>
                <p>
                    There is a 10% discount for booking with full payment received at least 3 months before the
                    module start date.
                </p>
                <p>
                    <a href="https://vimeo.com/1116769714">Watch the video</a> of Anna talking about the new course.
                </p>
                <p>
                    Course timetable to give you an idea of the course structure and content. This is flexible
                    depending on the learning needs of the group.
                </p>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th></th>
                            <th scope="col">Monday</th>
                            <th scope="col">Tuesday</th>
                            <th scope="col">Wednesday</th>
                            <th scope="col">Thursday</th>
                            <th scope="col">Friday</th>
                        </tr>
                        <tr>
                            <th scope="row">am1</th>
                            <td>Welcome and warm up</td>
                            <td>Practical</td>
                            <td>Practical</td>
                            <td>Clinic prep</td>
                            <td>Relaxation practical (palming, bodywork....)</td>
                        </tr>
                        <tr>
                            <th scope="row">am2</th>
                            <td>Taking a case history and making a vision assessment</td>
                            <td>Practical</td>
                            <td>Vision challenges - pathologies and refractive issues</td>
                            <td>Clinic 1</td>
                            <td>Questions and discussion</td>
                        </tr>
                        <tr>
                            <th scope="row">pm1</th>
                            <td>Practical</td>
                            <td>Practical</td>
                            <td>Practical</td>
                            <td>Clinic 2</td>
                            <td>Integration (movement, ball games, ribbon play, drawing)</td>
                        </tr>
                        <tr>
                            <th scope="row">pm2</th>
                            <td>Discussion of homework</td>
                            <td>Integration, consolidation, discussion</td>
                            <td>Integration, consolidation, discussion</td>
                            <td>Clinic debrief</td>
                            <td>Closing circle</td>
                        </tr>
                    </table>
                </div>

                <p>
                    Every module covers the core principles of the Bates Method. In addition each module also has
                    a different theme. Here is a taste of some of the topics covered in each module.
                </p>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th scope="col">1&nbsp;Light and Dark</th>
                            <th scope="col">2&nbsp;Centre and Periphery</th>
                            <th scope="col">3&nbsp;Movement</th>
                            <th scope="col">4&nbsp;Integration</th>
                            <th scope="col">5&nbsp;Binocularity</th>
                            <th scope="col">6&nbsp;Refraction</th>
                        </tr>
                        <tr>
                            <td>
                                Sunning<br>
                                Palming<br>
                                Visual anatomy<br>
                                Rest<br>
                                Relaxation<br>
                                Acceptance
                            </td>
                            <td>
                                Central occlusion<br>
                                Looking for colours<br>
                                Nervous system<br>
                                Attention<br>
                                Awareness<br>
                            </td>
                            <td>
                                Sway<br>
                                Swings<br>
                                Visual development
                            </td>
                            <td>
                                Patching<br>
                                Integration with other senses<br>
                                Brain pathways
                            </td>
                            <td>
                                Nosecard<br>
                                String<br>
                                Stereograms<br>
                                Play
                            </td>
                            <td>
                                How lenses work and what they do<br>
                                Reducing compensatory lens power
                            </td>
                        </tr>
                    </table>
                </div>

                <h3>Programme Director and Teacher - Anna Bambridge</h3>
                <img src="{{'img/anna_park.jpg' | bust_cache }}" class="profile-image" alt="Portrait of Anna Bambridge"/>
                <p>
                    Anna first encountered the potential of natural eyesight work in 1996 and has been immersed in
                    her own vision journey ever since.
                </p>
                <p>
                    She graduated from the College of Vision Education as a professional Bates Vision teacher in
                    2006. Her teachers there were Aileen Whiteford and Margaret Montgomery, part of a teaching
                    lineage that is unbroken from W.H. Bates.
                </p>
                <p>
                    Anna has continually developed her vision work and has deepened her understanding through
                    workshops and individual lessons in-person with Anthony Attenborough, Brigitte Cavadias, Peter
                    Grunwald, Nina Hutchings, Roberto Kaplan, Fernanda Leite Ribeiro, Peter Mansfield, Mikolaj
                    Markiewicz, Uschi Ostermeier, Meir Schneider and Esther van der Werf.
                </p>
                <p>
                    She has over 500 hours in-person one to one teaching experience as well as having taught
                    many group workshops including at the International Holistic Vision Conference.
                </p>
                <p>
                    Online she has presented workshops for Redefine Vision and the Association of Vision
                    Educators. She has been on panels with Gloria Ginn, Jacob Liberman, Daniela Matuchova,
                    Claudia Muehlenweg and Nathan Oxenfeld. She has been a guest on the Better Eyesight and
                    Naked Eye podcasts.
                </p>
                <p>
                    Anna studied physics at Cambridge University and has an MPhil in Vision Sciences. She will
                    graduate as a Body-Mind Centering<sup>®</sup> Somatic Movement Educator lin June 2026. She is a
                    member
                    of the Bates Association for Vision Education, the Association of Vision Educators and the
                    Body-Mind Centering<sup>®</sup> Association.
                </p>

                <h3>Teacher - Daniela Maťuchová</h3>
                <img src="{{'img/daniela_matuchova.jpg' | bust_cache }}" class="profile-image" alt="Portrait of Daniela Maťuchová"/>
                <p>
                    Daniela wore glasses for nearly twenty years. When she was on
                    maternity leave with her first child she discarded the glasses and
                    after some time she realized that her eyesight improved
                    spontaneously. So, she found out that vision can improve.
                </p>
                <p>
                    Her second child was born prematurely and as a result suffers
                    from cerebral palsy and is visually impaired. Daniela looked for
                    any possibilities to help him and she found the Bates Method. She studied in London and
                    graduated from the Bates College of Vision Education in 2013.
                </p>
                <p>
                    In 2014, she started her own business in Banská Bystrica, Slovakia. Daniela continues
                    educating herself in the field of natural vision improvement and has attended workshops
                    with Meir Schneider, Fernanda Leite Ribeiro, Mikolaj Markiewicz, Dror Schneider and
                    many others. She has over 3000 hours in-person one to one teaching experience as well
                    as having taught many group workshops and talks including one at the International
                    Holistic Vision Conference in Edinburgh in 2017. She has been a guest on podcasts in
                    Slovak Republic and Czech Republic and presented The Bates method on Slovak
                    Television. She has written 3 books, one of them is in English – The Miracle of Sight and
                    she contributed to the book A New World of Seeing. She has been a member of the Bates
                    Association for Vision Education since 2013.
                </p>

                <h3>Teacher - Mary Flynn</h3>
                <img src="{{'img/mary_flynn.jpg' | bust_cache }}" class="profile-image" alt="Portrait of Mary Flynn"/>
                <p>
                    Mary is a Bates Method teacher and Ophthalmological Nurse with
                    25 years experience in hospital eye and vision care.
                </p>
                <p>
                    She studied with Peter Mansfield and Margaret Montgomery at the
                    School of Vision Education and qualified as a Bates teacher in
                    1995.
                </p>
                <p>
                    In 2017 she completed the 5 day Original Bates Method for Vision
                    Educators taining with Esther Joy van der Werf and has had
                    personal lessons or attended workshops with Gloria Ginn, Nina Hutchings, Dr Jerriann
                    Taber, Maurizio Cagnoli and Aileen Whiteford. Mary is a member of the Bates Association
                    for Vision Education.
                </p>
                <p>
                    "I grew up on a Farm in Co Cork, Ireland, where I enjoyed the outdoor life. I have been
                    interested in eyesight since my early teens when I was prescribed my first glasses. I
                    disliked wearing them but felt I had no choice when my sight was blurry for the school
                    board.
                </p>
                <p>
                    I discovered the Bates Method through a book written by Peter Mansfield. I had always
                    been interested in natural health and was fascinated that sight could improve. My vision
                    story was that I experienced short-sight. I thoroughly enjoyed the process of exploration in
                    learning the Bates Method. I loved looking at the world in new ways and learning what
                    helped my vision.
                </p>
                <p>
                    I’m passionate about empowering and educating people about other possibilities regarding
                    their health — in particular Eyecare and Vision."
                </p>

                <h3>Teacher - Jane Reed</h3>
                <img src="{{'img/jane_reed.jpg' | bust_cache }}" class="profile-image" alt="Portrait of Jane Reed"/>
                <p>
                    Jane attended the College of Vision Education with teachers Aileen
                    Whiteford and Margaret Montgomery and qualified as a Bates
                    Method teacher in 2007.
                </p>
                <p>
                    "I am passionate about using my experience and knowledge to
                    support people in discovering and nurturing their natural vision. I
                    have worked with many clients over the years and it always brings
                    me joy to share in their journey of self-discovery and clarity.
                </p>
                <p>
                    I first began wearing glasses at the age of 18, after leaving school and starting work. Prior
                    to this, I had enjoyed perfect eyesight. After 20 years of lenses/glasses, my eyesight had
                    steadily been deteriorating and my prescription escalated to +6.5 dioptres. It was at this
                    point that I decided to look into the possibility of improving my vision by natural methods. I
                    read “Better Eyesight Without Glasses” by W. H. Bates. Though difficult to understand, I
                    followed the instructions written in the book and began to notice improvements in my
                    vision. I was thrilled as I had never thought this was possible.
                </p>
                <p>
                    Over time I learned to make friends with the blur if it presented itself. I realised that the blur
                    alerted me when I needed to take a more relaxed approach towards seeing rather than
                    fighting and trying to force better vision.
                </p>
                <p>
                    I am so grateful that I began this vision journey. I have learned so much about how the
                    way I choose to see the world affects my vision."
                </p>
                <p>
                    Jane is a member of the Bates Association for Vision Education.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="info-button col-lg-6 offset-lg-3 text-center" id="Practitioner Programme">
                I'm interested, tell me more
            </div>
        </div>
    </div>
</section>