<section class="primary-theme" id="seeing_mindfully">
    <div class="container-fluid">
        <h2 class="section-heading">Seeing Mindfully</h2>
        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <p>
                    <em>A 2 day live in-person workshop</em>
                </p>
                <p>
                    Would you like to learn gentle relaxation and movement practices which will enhance your eyesight and
                    bring you a greater sense of inner and outer connection?
                </p>
                <p>
                    Seeing is an intricate and sensitive learned process and many things influence its function. The Bates
                    Method of Vision Education is an invitation to gently explore the capacities of your own eyesight. In
                    this workshop, led by Anna Bambridge, we will explore the relationship between our experience of sensory
                    input, primarily from our eyes and our inner somatic experiences of body awareness, thoughts and
                    feelings. It will be a gentle workshop with a light-hearted approach to deep awareness.
                </p>
                <blockquote class="academic">
                    <p>
                        “When the mind is at rest, nothing can tire the eyes, when the mind is under strain, nothing can rest
                        them.”
                    </p>
                    <footer>Dr. William H. Bates 1920</footer>
                </blockquote>
                <p>
                    If you wear contact lenses please bring what you need to take them out for the workshop.
                </p>
            </div>
            <div class="col-lg-5">
                <img src="{{'img/vision_circle_image' | bust_cache }}" class="workshop-image"
                    alt="Anna teaching palming in a workshop">
                <blockquote>
                    <p>
                        Anna’s workshop was a revolution. What she gave me was a paradigm shift in how I think of
                        vision. I was really amazed in the difference in my vision after the workshop. I see space and
                        colour differently. It's a shift in consciousness for me to see seeing by itself for itself as a
                        source of continual nourishment rather than just a pragmatic faculty.
                    </p>
                    <footer>
                        Journeys Into Eyesight Workshop Participant
                    </footer>
                </blockquote>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-3 text-center">
                <h4>
                    Venue: The Wee Retreat, 2 Myrtle Park, Glasgow, G42 8UQ
                </h4>
                <h4>
                    March 2023
                </h4>
                <h4 class="project-details">
                    Saturday 9.30am - 5.30pm
                </h4>
                <h4 class="project-details">
                    Sunday 10am - 5pm
                </h4>
                <h4>
                    Cost: £180 (£20 deposit required to reserve your place)
                </h4>
                <div class="info-button" id="Seeing Mindfully">Apply</div>
            </div>
        </div>
    </div>
</section>