<section class="bg-primary" id="signup">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Sign up!</h2>
                <hr>
                <p>Ready to book a session? Submit your details below</p>
            </div>
        </div>
        <form class="form-vertical" action="/action_page.php">
            <div class="form-group">
                <label class="control-label" for="pwd">Name:</label>
                <div class="col-sm-10">          
                    <input type="password" class="form-control" id="pwd" placeholder="Enter your name here" name="pwd">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="email">Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" placeholder="Enter your email here" name="email">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">I am interested in joining the</label>
                <div>
                    <div class="checkbox">
                        <label><input type="checkbox" id="somatic_seeing">Somatic Seeing classes</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" id="eyesight_matters">Eyesight Matters course</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" id="bates_method_fundamentals">Bates Method Fundamentals workshops</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <p>A little something about the newsletter blah blah...</p>
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label><input type="checkbox" id="newsletter">I would like to subscribe to your newsletter</label>
                    </div>
                </div>
            </div>
            <div class="form-group">        
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <button type="submit" class="btn btn-primary btn-xl">Submit</button>
                </div>
            </div>
        </form>
    </div>
</section>
