<section class="primary-theme" id="somatic_seeing">
    <div class="container-fluid">
        <h2 class="section-heading">Somatic Seeing</h2>
        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <p>
                    Please join me in my explorations teaching embodied vision education online. These classes are relaxing and perception enhancing, helping you to move into your vision. My aim is that they will feel meditative. The classes will involve some stillness and some gentle movement. Each week we explore a different visual theme, for example, colour, context, texture, depth, details...
                </p>
                <p>
                    The class is drop in, come along when you can. Contact me and I'll send you the class link.
                </p>
            </div>
            <div class="col-lg-5">
                <img src="{{'img/somatic_seeing_image' | bust_cache }}" class="workshop-image" alt="A grid of seasonal images">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <blockquote>
                    <p>
                        Anna Bambridge offers us in these sessions, without any adornment, many valuable treasures: silence, pause, time, space to feel, to discover for ourselves the consciousness, the attitude, the presence so necessary in our lives and to all our well-being, not just that of our eyes.
                    </p>
                    <footer>
                        Ana Diaz
                    </footer>
                </blockquote>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-3 text-center">
                <p class="text-center">
                    Next Somatic Seeing class series:
                </p>
                <h4>
                    19th February 2024 - 25th March 2024
                </h4>
                <h4>
                    Mondays 1 - 2pm (GMT)
                </h4>
                <h4>
                    Drop in, pay what you can (£0 - £12)
                </h4>
                <div class="info-button" id="Somatic Seeing">Get in touch</div>
            </div>
        </div>
    </div>
</section>
