<section class="bg-primary" id="somatic_seeing">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Somatic Seeing</h2>
                <hr>
                <p>
                    Please join me in my explorations teaching embodied vision education. These classes are relaxing and perception enhancing helping you to move into your vision. My aim is that they will feel meditative. The classes will involve some stillness and some gentle movement. Each week we will explore a different visual theme, for example, colour, context, texture, depth, details and more.
                </p>
                <h4>
                    Mondays 1-2pm 11th January - 22nd March (Not Feb 8) 
                </h4>
                <p>
                    Drop in class. Pay what you can. Suggested price £10.
                </p>
                <a href="#contact" class="btn btn-primary btn-xl page-scroll">
                    Sign up here.
                </a>
                <p></p>
                <p>
                    What previous class participants have said:
                </p>
                <blockquote>
                    <p>
                        It was such a treat to really draw attention to my eyes and seeing.
                    </p>
                    <footer>
                        Eveline
                    </footer>
                </blockquote>
                <blockquote>
                    <p>
                        It is a time/space for relaxing, coming into my body, slowing down, and vision is one of the vehicles for this - a sort of body/mind meditation.
                    </p>
                    <footer>
                        Margaret
                    </footer>
                </blockquote>
                <blockquote>
                    <p>
                        There is something about the simplicity and gentleness of your work that is deeply moving.  I can’t imagine that it’s just me that ended the class with a feeling of having been taken deep inside to the centre of their being, and wanting to just stay quietly there.
                    </p>
                    <footer>
                        Chris
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>
