<section class="primary-theme" id="vision_circle">
    <div class="container-fluid">
        <h2 class="section-heading">Vision Circle <span class="new-content"><sup>NEW</sup></span></h2>
        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <p>
                    Eyesight work is literally about changing the way you perceive everything. This is often a challenging process and it can be useful, fun, supportive and heart-warming to share some of the experiences, ups and downs with other people who are experiencing similar things and know what the heck you're talking about.
                </p>
                <p>
                    Where the Somatic Seeing class is all about listening and experiencing, the Vision Circle is all about sharing and communicating your experiences in a held, supportive environment. I look forward to welcoming you and hearing your stories.
                </p>
            </div>
            <div class="col-lg-5">
                <img src="{{'img/vision_circle_image' | bust_cache }}" class="workshop-image" alt="Anna teaching palming in a workshop">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <blockquote>
                    <p>
                        Anna’s workshop was a revolution. What she gave me was a paradigm shift in how I think of vision. I was really amazed in the difference in my vision after the workshop. I see space and colour differently. It's a shift in consciousness for me to see seeing by itself for itself as a source of continual nourishment rather than just a pragmatic faculty.
                    </p>
                    <footer>
                        Journeys Into Eyesight Workshop Participant
                    </footer>
                </blockquote>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-3 text-center">
                <h4>
                    17th August - 21st September 2021
                </h4>
                <h4>
                    Tuesdays 1-2pm BST
                </h4>
                <h4>
                    Pay what you can, the suggested price is £10 but it is free if you need it to be.
                </h4>
                <div class="info-button" id="Vision Circle">Apply</div>
            </div>
        </div>
    </div>
</section>
