<section class="primary-theme" id="writing">
    <div class="container-fluid">
        <h2 class="section-heading">Writing</h2>
        <div class="row">
            {% for post in site.posts %}
            <div class="col-md-10 offset-md-1">
                <a href="{{ post.url }}" class="writing-post-box inert wow fadeIn" data-wow-delay=".1s">
                    <div class="writing-post-box-content">
                        <div class="writing-post-title">
                            {{ post.title }}
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <img class="writing-post-image" src="{{ post.image }}" alt="{{ post.image-alt }}">
                            </div>
                            <div class="col-lg-8">
                                <div class="writing-post-abstract">
                                    {{ post.abstract }}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
