<section class="primary-theme" id="writing">
    <div class="container-fluid">
        <h2 class="section-heading">Writing</h2>
        <div class="row">
            {% for doc in site.writing %}
            <div class="col-sm-6 col-lg-4">
                <a href="{{ doc.url }}" class="writing-post-box">
                    <div class="writing-post-box-content">
                        <div class="writing-post-title">
                            {{ doc.title }}
                        </div>
                        <div class="writing-post-overlay-container">
                            <img class="writing-post-image" src="{{ doc.image | bust_cache }}" alt="{{ doc.image-alt }}">
                            <div class="writing-post-overlay">
                                <div class="writing-post-overlay-text">
                                    {{ doc.abstract }}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
