html,
body {
    height: 100%;
    width: 100%;
}

body {
    @include serif-font;
}

hr {
    border-color: $theme-dark;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

a {
    @include transition-all;
    color: $theme-secondary;
    &:hover,
    &:focus {
        color: darken($theme-secondary, 25%);
    }
}

a.inert {
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include sans-serif-font;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bg-primary {
    background-color: $theme-background;
    color: $theme-dark;
}

.bg-dark {
    background-color: $theme-dark;
    color: $theme-primary;
}

.text-faded {
    color: rgba(white, .8);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

// Navigation

.navbar-default {
    background-color: rgba($theme-primary, 0.9);
    border-color: rgba($theme-dark, .5);
    @include sans-serif-font;
    @include transition-all;
    .navbar-header .navbar-brand {
        color: $theme-secondary;
        @include sans-serif-font;
        font-weight: 700;
        text-transform: uppercase;
        &:hover,
        &:focus {
            color: darken($theme-dark, 10%);
        }
    }
    .nav {
        > li {
            > a,
            > a:focus {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 13px;
                color: $theme-secondary;
                &:hover {
                    color: $theme-dark;
                }
            }
            &.active {
                > a,
                > a:focus {
                    color: $theme-secondary !important;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        background-color: rgba(black, 0.2);
        border-color: rgba($theme-secondary, .3);
        .navbar-header .navbar-brand {
            color: rgba($theme-secondary, .7);
            &:hover,
            &:focus {
                color: $theme-dark;
            }
        }
        .nav > li > a,
        .nav > li > a:focus {
            color: rgba($theme-dark, .7);
            &:hover {
                color: $theme-dark;
            }
        }
        &.affix {
            background-color: $theme-primary;
            border-color: rgba($theme-dark, .5);
            .navbar-header .navbar-brand {
                color: darken($theme-secondary, 20%);
                font-size: 14px;
                &:hover,
                &:focus {
                    color: $theme-secondary;
                }
            }
            .nav > li > a,
            .nav > li > a:focus {
                color: $theme-dark;
                &:hover {
                    color: darken($theme-secondary, 10%);
                }
            }
        }
    }
}

// Homepage Header

header {
    padding-top: 70px;
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: $theme-dark;
    .header-image {
        max-width: 75%;
        height: auto;
        float: none;
    }
    .header-content {
        position: relative;
        padding: 100px 15px 100px;
        width: 100%;
        .header-content-inner {
            padding: 20px 100px 20px 100px;
            h1 {
                font-weight: 700;
                margin-top: 0;
                margin-bottom: 0;
            }
            hr {
                margin: 30px auto;
            }
            p {
                font-weight: 300;
                font-size: 18px;
                margin-bottom: 10px;
            }
        }
    }
    @media (min-width: 768px) {
        min-height: 100%;
        .header-image {
            max-width: 50%;
            float: left;
        }
        .header-content {
            text-align: center;
            position: absolute;
            top: 40%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0 50px;
            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                p {
                    color: white, .9;
                    font-size: 28px;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

// Sections

.section-heading {
    margin-top: 0;
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0;
    @media (min-width: 992px) {
        margin: 20px auto 0;
    }
    p {
        margin-bottom: 0;
    }
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: 500px;
    min-height: 250px;
    margin: 0 auto;
    img {
        border-radius: 20px;
    }
    .portfolio-box-caption {
        color: $theme-primary;
        opacity: 1;
        display: block;
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        @include transition-all;
        .portfolio-box-caption-content {
            width: 100%;
            opacity: 1;
            text-align: center;
            position: absolute;
            top: 80%;
            transform: translateY(-50%);
            background: rgba($theme-dark, .6);
            .project-category,
            .project-name {
                @include sans-serif-font;
                padding: 0 15px;
            }
            .project-category {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
            }
            .project-name {
                font-size: 18px;
            }
        }
    }
    &:hover {
        .portfolio-box-caption {
            background: rgba( $theme-primary, .3);
            border: 2px solid $theme-secondary;
            .portfolio-box-caption-content {
                background: $theme-dark;
            }
        }
    }
    @media (min-width: 768px) {
        .portfolio-box-caption {
            .portfolio-box-caption-content {
                .project-category {
                    font-size: 16px;
                }
                .project-name {
                    font-size: 22px;
                }
            }
        }
    }
}

.about {
    h2 {
        margin: 0 auto 20px;
    }
}

// Bootstrap Overrides
.text-primary {
    color: $theme-primary;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

// Button Styles
.btn-default {
    @include button-variant($theme-dark, white, white);
}

.btn-primary {
    @include button-variant($theme-primary, $theme-secondary, $theme-dark);
}

.btn {
    @include sans-serif-font;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-xl {
    padding: 15px 30px;
}

// Contact
#contact .fa {
    color: $theme-dark;
    font-size: 4em;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

::selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $theme-dark;
    height:100%;
}

html {
    height: 100%;
}

.parallax {
    min-height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax_image_1 {
    @extend .parallax;
    background-image: url("../img/parallax_image_1");
}

.parallax_image_2 {
    @extend .parallax;
    background-image: url("../img/parallax_image_2");
}

.parallax_image_3 {
    @extend .parallax;
    background-image: url("../img/parallax_image_3");
}

.parallax_image_4 {
    @extend .parallax;
    background-image: url("../img/parallax_image_4");
}

.parallax_image_5 {
    @extend .parallax;
    background-image: url("../img/parallax_image_5");
}

 /* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

.theme-secondary {
    color: $theme-secondary;
}

.profile-image {
    border-radius: 6px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 180px;
    height: auto;
}

.row-margin-20 {
    margin-top: 20px;
}

@media (max-device-width: 768px) {
    .p-b-sm-50 {
        padding-bottom: 50px;
    }
}
