html,
body {
    position: relative;
    height: 100%;
    width: 100%;
}

body {
    @include sans-serif-font;
}

body,
blockquote,
.form-control {
    font-size: 16px;
    @media (min-width: 768px) {
        font-size: 20px;
    }
    @media (min-width: 992px) {
        font-size: 24px;
    }
}

hr {
    border-color: $theme-dark;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

a {
    @include transition-all;
    color: $theme-secondary;
    &:hover,
    &:focus {
        color: darken($theme-secondary, 25%);
    }
}

a.inert {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include sans-serif-font;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    @media (min-width: 768px) {
        font-size: 30px;
    }
}

h4 {
    font-size: 20px;
    @media (min-width: 768px) {
        font-size: 28px;
    }
}

p {
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
    @media (min-width: 768px) {
        text-align: justify;
    }
}

fieldset {
    padding: 10px;
    background-color: rgba($theme-secondary, .2);
    @media (min-width: 768px) {
        padding: 20px;
    }
}

.form-group {
    line-height: 1.5;
    textarea {
        height: 10em;
    }
    label {
        font-weight: 600;
    }
}

.checkbox {
    input[type="checkbox"] {
        margin-right: 10px;
    }
    label {
        font-weight: 400;
    }
}

.primary-theme {
    background-color: $theme-background;
    color: $theme-dark;
}

.primary-background {
    background-color: $theme-primary;
}

.navbar-default {
    background-color: $theme-secondary;
    border-color: rgba($theme-dark, .5);
    padding: 0.5rem 0 0.5rem 0;
    border-bottom: 1px solid $theme-dark;
    @include sans-serif-font;
    @include transition-all;
    .navbar-brand {
        color: $theme-primary;
        font-weight: 700;
        text-transform: lowercase;
        font-size: 1.2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        &:hover,
        &:focus {
            color: $theme-dark;
            background-color: lighten($theme-secondary, 80%);
        }
    }
    .navbar-nav .nav-link {
        text-transform: lowercase;
        font-weight: 700;
        font-size: 1rem;
        color: $theme-primary;
        padding-left: 2rem;
        padding-right: 2rem;
        &:hover {
            background-color: lighten($theme-secondary, 90%);
            color: $theme-dark;
        }
        &.active {
            color: $theme-dark !important;
            background-color: lighten($theme-secondary, 80%);
            &:hover {
                background-color: lighten($theme-secondary, 90%);
            }
        }
    }

    @media (min-width: 768px) {
        background-color: rgba($theme-secondary, 0.5);
        padding: 0;
        .navbar-nav {
            .nav-link {
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
        &.affix {
            background-color: $theme-secondary;
            .navbar-header .navbar-brand {
                color: $theme-primary;
                font-size: 16px;
            }
            .nav-link {
                color: $theme-primary;
            }
        }
    }
}

// Homepage Header

.main-header {
    padding-top: 70px;
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: $theme-primary;
    background-image: url("../img/portrait_header_background");
    background-size: cover;
    overflow-x: clip;
    overflow-y: visible;
    @media (min-width: 992px) {
        min-height: 100%;
        max-height: 100%;
        background-image: url("../img/parallax_image");
     }
}

.main-header-image {
    width: 100%;
    height: auto;
    @media (min-width: 992px) {
        width: auto;
        max-height: 100%;
        max-width: 100%;
    }
}
.main-header-content {
    position: relative;
    padding: 0;
    width: 100%;
    background-color: rgba($theme-secondary, .7);
    border-radius: 10px 10px 0 0;
    @media (min-width: 992px) {
        text-align: left;
        position: absolute;
        width: auto;
        margin-top: 10%;
        padding: 0;
        border-radius: 20px 0 0 20px;
    }
}
.main-header-content-inner {
    padding: 10px 10px 10px 10px;
    h1 {
        font-size: 32px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 0;
    }
    h2 {
        font-size: 26px;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 0;
    }
    p {
        font-weight: 300;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 5px;
        text-align: center;
    }
    @media (min-width: 992px) {
        padding: 20px 0px 20px 100px;
        h1 {
            font-size: 64px;
        }
        h2 {
            font-size: 40px;
        }
        p {
            text-align: left;
            font-size: 28px;
            margin: 20px 40px 10px 0px;
        }
    }
}

// Sections

section {
    padding: 50px 0;
    @media (min-width: 992px) {
        padding: 100px 0;
    }
}

.section-heading {
    text-align: center;
    margin: 0 auto 50px auto;
    font-weight: 800;
    font-size: 30px;
    @media (min-width: 768px) {
        font-size: 38px;
        margin-bottom: 70px;
    }
}

.portfolio-box {
    position: relative;
    display: block;
    margin: 0 0 20px 0;
    .portfolio-box-caption {
        min-height: 220px;
        color: $theme-primary;
        background-color: $theme-secondary;
        text-align: center;
        position: relative;
        border-radius: 10px;
        line-height: 1.1;
        overflow: clip;
        @include transition-all;
        .project-category,
        .project-name,
        .project-details {
            @include sans-serif-font;
            padding: 10px 15px;
        }
        .project-name {
            text-transform: lowercase;
            font-weight: 800;
            font-size: 24px;
        }
        .project-category {
            font-weight: 600;
            font-size: 18px;
        }
        .project-details {
            padding: 2px 15px;
        }
        @media (min-width: 992px) {
            min-height: 280px;
            .project-name {
                font-size: 32px;
            }
            .project-category {
                font-size: 24px;
            }
            .project-details {
                font-size: 20px;
            }
        }
    }
    &:hover {
        transform: translate(2px,2px);
        transition: transform .5s;
        .portfolio-box-caption {
            transition: box-shadow .5s;
            box-shadow: -2px -2px 10px rgba(0,0,0,.2);
        }
    }
}

.writing-post-box {
    position: relative;
    display: block;
    margin: 0 0 20px 0;
    .writing-post-box-caption {
        min-height: 220px;
        color: $theme-primary;
        background-color: $theme-secondary;
        text-align: center;
        position: relative;
        border-radius: 10px;
        line-height: 1.1;
        overflow: clip;
        @include transition-all;
        .writing-post-title {
            @include sans-serif-font;
            padding: 10px 15px;
            text-transform: lowercase;
            font-weight: 800;
            font-size: 24px;
        }
        @media (min-width: 992px) {
            min-height: 280px;
            .writing-post-title {
                font-size: 32px;
            }
        }
    }
    &:hover {
        transform: translate(2px,2px);
        transition: transform .5s;
        .writing-post-box-caption {
            transition: box-shadow .5s;
            box-shadow: -2px -2px 10px rgba(0,0,0,.2);
        }
    }
}

.about {
    h2 {
        margin: 0 auto 20px;
    }
}

// Bootstrap Overrides
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

// Button Styles
.btn-default {
    @include button-variant($theme-dark, white, white);
}

.btn-primary {
    @include button-variant($theme-primary, $theme-secondary, $theme-dark);
}

.btn {
    @include sans-serif-font;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 40px;
    @media (min-width: 768px) {
        font-size: 20px;
    }
}

.btn-xl {
    padding: 15px 30px;
}

// Contact
#contact .fa {
    color: $theme-dark;
    font-size: 4em;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

::selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $theme-dark;
}

html {
    height: 100%;
}

.parallax {
    min-height: 100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    @media (min-width: 992px) {
        min-height: 200px;
    }
}

.parallax_image {
    @extend .parallax;
    background-image: url("../img/parallax_image");
}

 /* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
        background-size: cover;
    }
}

.theme-secondary {
    color: $theme-secondary;
}

.profile-image {
    border-radius: 6px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 180px;
    height: auto;
}

.workshop-image {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 20px;
}

.profile-badge {
    width: 180px;
    height: auto;
    display: inline;
}

ul.portfolio-list {
    line-height: 1.5;
    list-style-type: none;
    li:before {
        content: "\00BB";
        position: absolute;
        transform: translateX(-200%);
    }
}

.invisible {
    display: none;
}

.contact-signup-result {
	padding: 10px 20px;
}

.contact-signup-success {
    @extend .contact-signup-result;
    background-color: lightgreen;
}

.contact-signup-fail {
    @extend .contact-signup-result;
    background-color: rgb(228, 72, 58);
}

.invalid-input {
    border-color: red;
}

.validation-error {
    font-style: italic;
    font-weight: 400;
    color: red;
    padding-left: 20px;
}

blockquote {
    background-color: rgba($theme-secondary, 0.1);
    padding: 20px;
    footer {
        display: block;
        font-size: 80%; // back to default font-size
        color: rgb(66, 66, 66);
    
        &::before {
        content: "\2014 \00A0"; // em dash, nbsp
        }
    }
}

@media (max-device-width: 768px) {
    .p-b-sm-50 {
        padding-bottom: 50px;
    }
}

.wait-spinner {
    text-align: center;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
  
.contact-icon {
    margin-top: 20px;
}

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  