RewriteEngine On 
RewriteCond %{SERVER_PORT} 80
RewriteCond %{HTTP_HOST} ^(www\.)?embodied\.vision
RewriteRule ^(.*)$ https://embodied.vision/$1 [R,L]

<filesMatch ".(ico|jpg|jpeg|png|gif)$">
 Header set Cache-Control "max-age=31536000, public"
</filesMatch>

<filesMatch ".(css|js)$">
 Header set Cache-Control "max-age=31536000, public"
</filesMatch>

Header always set Strict-Transport-Security: "max-age=31536000; includeSubDomains; preload" env=HTTPS
Header set X-Content-Type-Options: "nosniff"
Header always set X-Frame-Options: "SAMEORIGIN"
Header set Content-Security-Policy "default-src 'self' https:; style-src 'self' fonts.googleapis.com fonts.gstatic.com; frame-ancestors 'self';"
Header set X-XSS-Protection "1; mode=block"