<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  <div class="parallax_image_1"></div>
  {% include myvision.html %}
  <div class="parallax_image_2"></div>
  {% include portfolio.html %}
  {% include somatic_seeing.html %}
  {% include eyesight_matters.html %}
  {% include bates_fundamentals.html %}
  <div class="parallax_image_3"></div>
  {% include about.html %}
  <div class="parallax_image_4"></div>
  {% include contact.html %}
  {% include footer.html %}
  {% include scripts.html %}
</body>

</html>