<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top" data-bs-spy="scroll" data-bs-target="#navbar" data-offset="100">
  {% include nav.html %}
  {% include header.html %}
  {% include myvision.html %}
  <div class="parallax_image"></div>
  {% include portfolio.html %}
  <div class="parallax_image"></div>
  {% include eyesight_matters.html %}
  {% include bates_fundamentals.html %}
  {% include somatic_seeing.html %}
  {% include one_to_one.html %}
  <div class="parallax_image"></div>
  {% include about.html %}
  <div class="parallax_image"></div>
  {% include contact.html %}
  {% include footer.html %}
  {% include scripts.html %}
</body>

</html>