<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top" data-spy="scroll" data-target="#navbar" data-offset="10">
  {% include nav.html %}
  {% include header.html %}
  {% include myvision.html %}
  <div class="parallax_image"></div>
  {% include portfolio.html %}
  <div class="parallax_image"></div>
  {% include somatic_seeing.html %}
  {% include lenses_and_charts.html %}
  {% include natural_vision_care_basics.html %}
  {% include one_to_one.html %}
  <div class="parallax_image"></div>
  {% include podcast.html %}
  <div class="parallax_image"></div>
  {% include writing.html %}
  <div class="parallax_image"></div>
  {% include about.html %}
  <div class="parallax_image"></div>
  {% include contact.html %}
  {% include footer.html %}
  {% include scripts.html %}
</body>

</html>